* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('./img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}
.form-container {
  width: 50%;
  background-color: #fefefe;
  color: #333;
  border-radius: 1rem;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.logo img {
  width: 10rem;
}
.form-container h1 {
  font-size: 3rem;
  margin-top: 2rem;
}
form {
  margin-top: 2rem;
}
label {
  color: #ccc;
  font-size: 2rem;
}
input {
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
}
input[type='email'],
input[type='password'] {
  width: 85%;
  padding: 1rem;
}
.form-element {
  padding: 0 1rem;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.form-element + .form-element {
  margin-top: 1rem;
}
.btn {
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background: cadetblue;
}

.form-footer {
  text-align: center;
  padding: 0 2rem;
  margin-top: 1rem;
}

.form-footer + .form-footer {
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #1a2537;
  transition: all 200ms ease-in-out;
}

a:hover {
  color: cadetblue;
}

@media (max-width: 990px) {
  .form-container {
    width: 90%;
  }
}

@media (max-width: 680px) {
  html {
    font-size: 12px;
  }
}
